extends layout 
block content
  .row.banner
    .col-12
      h1=pageHeader.title
        small &nbsp; #{pageHeader.strapline}
  .row
    .col-12.col-md-6
      each loc in locations
        .card
          .card-block
            h3
              .barber_name.col-md-7
                a(href="/location") #{loc.name}  
              .empty-div.col-md-2      
              .rating_barber.col-md-3
                small &nbsp;
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star-o
                  i.fa.fa-star-o
            p.adult_price Adult price: #{loc.adultPrice}
            p.children_price Children price: #{loc.childrenPrice}
            .barber_address.col-md-12
              p.address.col-md-8 #{loc.address}
              .empty-div.col-md-2
              span.badge.badge-pill.badge-default.float-right.col-md-2 #{loc.distance}
            p.phone_number  #{loc.phoneNumber}
            .facilities.col-md-12
              each service in loc.services ? loc.services : []
                .badges.col-md-4
                  span.badge.badge-warning #{service}
              
            .status.col-md-12            
              .empty-div.col-md-7
              .availability.col-md-3
                p availability:
              span.badge-avalability.col-md-2
                p #{loc.status}

       
          

    .col-12.col-md-6.aside_logo
      img(src='./images/sharpCutAppLogo.png')
      h1.logo_title 
        strong SharpCutApp.

