extends layout 
block content
  .row.banner
    .col-12
      h1=pageHeader.title
        small &nbsp; #{pageHeader.strapline}
        small &nbsp; #{message}
  .row
    .col-12.col-md-6
      .error=message
      each barber in barbers
        .card
          .card-block
            h3
              .barber_name.col-md-7
                a(href=`/location/${barber._id}`) #{barber.name}  
              .empty-div.col-md-2      
              .rating_barber.col-md-3
                small &nbsp;
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star
                  i.fa.fa-star-o
                  i.fa.fa-star-o
                  
            p.adult_price Adult price: #{barber.price.length > 0 ? barber.price.adult : '00'}
            p.children_price Children price: #{barber.price.length > 0 ? barber.child : '00'}
            .barber_address.col-md-12
              p.address.col-md-8 #{barber.address} #{barber.city}
              .empty-div.col-md-2
              span.badge.badge-pill.badge-default.float-right.col-md-2 #{barber.distance}
            p.phone_number  #{barber.phoneNumber}
            .facilities.col-md-12
              each service in barber.services ? barber.services : []
                .badges.col-md-4
                  span.badge.badge-warning #{service}
              
            .status.col-md-12            
              .empty-div.col-md-7
              .availability.col-md-3
                p availability:
              span.badge-avalability.col-md-2
                  p #{barber.available ? "Yes" : "No"}
                
                

       
          

    .col-12.col-md-6.aside_logo
      img(src='./images/sharpCutAppLogo.png')
      h1.logo_title 
        strong SharpCutApp.

